{% extends 'base_layout.html' %}
{% block content %}
 <title> See some data! </title>
 </head>
 <body>
 <h1> What data would you like to see today?</h1>
 <div class = "display-data">
   <form class = "site-form" action = "{% url 'displaydata:displaydata' %}" method ="post" enctype= "multipart/form-data"> <!--add action here-->
      {% csrf_token %} <!--security measure token-->
      {{form.as_p}}
      <input type = "submit" name="" value= "Show me some data"/>
   </form>
</h1>
{% comment %} {%if jsondata %}
   {{jsondata}}
{% endif %} {% endcomment %}

    {% comment %} <div class = "canvas">
        <svg width = "600" height = "600">
            <rect></rect>
        </svg>
   </div> {% endcomment %}
   <div id="d3-container">
   </div>
    <script src = "https://d3js.org/d3.v5.js"></script>
    <script> 
      var data = {{ jsondata | safe }};
   </script>
    <script> 
      const width = 900;
      const height = 450;
      const margin = { top: 50, bottom: 150, left: 50, right: 50 };

      const svg = d3.select('#d3-container')
      .append('svg')
      .attr('width', width - margin.left - margin.right)
      .attr('height', height - margin.top - margin.bottom)
      .attr("viewBox", [0, 0, width, height]);

      const x = d3.scaleBand()
      .domain(d3.range(data.length))
      .range([margin.left, width - margin.right])
      .padding(0.1)

      const y = d3.scaleLinear()
      .domain([0, d3.max(data, d=> d.frequency)])
      .range([height - margin.bottom, margin.top])

      svg
      .append("g")
      .attr("fill", 'royalblue')
      .selectAll("rect")
      .data(data.sort((a, b) => d3.descending(a.frequency, b.frequency)))
      .join("rect")
         .attr("width", x.bandwidth())
         .attr("height", 0)
         .attr("x", (d, i) => x(i))
         .attr('title', (d) => d.frequency)
         .attr("class", "rect")
         .attr("y", height)
         .transition().duration(500)
            .attr("y", d => y(d.frequency))
            .attr("height", d => y(0) - y(d.frequency));

      function yAxis(g) {
      g.attr("transform", `translate(${margin.left}, 0)`)
         .call(d3.axisLeft(y)
         .ticks(null, data.format)
         .tickFormat(d=> d + ' birds'))
         .attr("font-size", '20px');
      }

      function xAxis(g) {
      g.attr("transform", `translate(0,${height - margin.bottom})`)
         .call(d3.axisBottom(x)
         .tickFormat(i => data[i].species_name))
         .attr("font-size", '20px')
      g.selectAll('text')
         .attr('transform', 'rotate(-40)')
         .attr('text-anchor', 'end')   
      }

      svg.append("g").call(xAxis);
      svg.append("g").call(yAxis);
      svg.node();
    
    </script>
{% endblock %}