{% extends 'base_layout.html' %}
{% block content %}

<head>
 <title> See some data! </title>

 </head>
 <body>
 <h1> What data would you like to see today, {{ user.username }}?</h1>
 <div class = "display-data">
   <h1>
   <form class = "site-form" id = "displaydataform" data-counties-url = "{% url 'displaydata:ajax_load_counties' %}" action = "{% url 'displaydata:displaydata' %}" method ="post" enctype= "multipart/form-data">
      {% csrf_token %} <!--security measure token-->
      {% for field in form %}
         <div class = "fieldwrapper">
           
            {{field.errors}}
            {{field.label_tag }}
            <p class = "formfield">
            {{field }}
            </p>
         </div>
         {% endfor %}

   </form>
      <button type = "button" id = "bargraph" name="bargraph"> Show me overall species numbers</button> 
      <button type = "button" id = "linegraph" name="linegraph"> Show me change in species numbers over time </button> 
      <a href = {% url 'displaydata:export' %}><button> Download data </button></a>
   </h1>
</div>
</h1>
   <div id="d3-container" class = "d3container">
   </div>
   <div id ="canvas" class ="canvas"> 
   </div> 
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"> </script>
<script>
   $("#id_in_country").change(function () {
         const url = $("#displaydataform").attr("data-counties-url");  // get the url of the `load_counties` view
         const countryId = $(this).val();  // get the selected country ID from the HTML input
         $.ajax({                       // initialize an AJAX request
            url: url,                    // set the url of the request (= /enterdata/ajax/load-cities/ )
            data: {
                'country_id': countryId       // add the country id to the GET parameters
            },
            success: function (data) {  
               var list = document.getElementById("id_in_county");
               list.innerHTML = ""; //clear all 
               let html_data; //= '<option value="">----Select county/counties---</option>';
               data.forEach(function (county) {
                  html_data +=`<option value = "${county.name}"> ${county.name} </option>`
               });
               list.innerHTML = html_data; 
            } 
        });
   });
</script>
<script src = "https://d3js.org/d3.v5.js"></script>
{% comment %} barchart:  {% endcomment %}

<script> 
   $(document).ready(function() {
      $("#bargraph").click(function() {
         var formdata = {
            species: $("#id_species_name").val(),
            country:$("#id_in_country").val(),
            county: $("#id_in_county").val(),
            from_date: $("#id_from_date").val(),
            to_date: $("#id_to_date").val(),
            }
         $.ajax({
            type:'POST',
            url:'create_bargraph/',
            data: formdata,
            success: function(data){
            console.log(data)
            const width = 1500;
            const height = 650;
            const margin = { top: 50, bottom: 250, left: 40, right: 30 };

            const svg = d3.select('#d3-container')
            .append('svg')
            .attr('width', width - margin.left - margin.right)
            .attr('height', height - margin.top - margin.bottom)
            .attr("viewBox", [0, 0, width, height]);

            const x = d3.scaleBand()
            .domain(d3.range(data.length))
            .range([margin.left, width - margin.right])
            .padding(0.1)


            const y = d3.scaleLinear()
            .domain([0, d3.max(data, d=> d.frequency)])
            .range([height - margin.bottom, margin.top])

            svg
            .append("g")
            .attr("fill", 'royalblue')
            .selectAll("rect")
            .data(data.sort((a, b) => d3.descending(a.frequency, b.frequency)))
            .join("rect")
               .attr("width", x.bandwidth())
               .attr("height", 0)
               .attr("x", (d, i) => x(i))
               .attr('title', (d) => d.frequency)
               .attr("class", "rect")
               .attr("y", height)
               .transition().duration(500)
                  .attr("y", d => y(d.frequency))
                  .attr("height", d => y(0) - y(d.frequency));

            function yAxis(g) {
            g.attr("transform", `translate(${margin.left}, 0)`)
               .call(d3.axisLeft(y)
               .ticks(5, data.format)
               .tickFormat(d=> d + ' birds'))
               .attr("font-size", '20px');
            }

            function xAxis(g) {
            g.attr("transform", `translate(0,${height - margin.bottom})`)
               .call(d3.axisBottom(x)
               .tickFormat(i => data[i].species_name))
               .attr("font-size", '20px')
            g.selectAll('text')
               .attr('transform', 'rotate(-40)')
               .attr('text-anchor', 'end')   
            }

            svg.append("g").call(xAxis);
            svg.append("g").call(yAxis);
            svg.node();
            }
         });
      });
   });
</script>

   <script>
      $(document).ready(function() {
         $("#linegraph").click(function() {
            var formdata = {
               species: $("#id_species_name").val(),
               country:$("#id_in_country").val(),
               county: $("#id_in_county").val(),
               from_date: $("#id_from_date").val(),
               to_date: $("#id_to_date").val(),
            }
            $.ajax({
               type:'POST',
               url:'create_linegraph/',
               data: formdata,
               success: function(data){
                  console.log(data)
                  const margin = { top: 40, right: 20, bottom: 50, left: 100 };
                  const graphWidth = 560 - (margin.left + margin.right);
                  const graphHeight = 400 - (margin.top + margin.bottom);
                  const circleRadius = 4;

                  const svg = d3.select('.canvas')
                     .append('svg')
                     .attr('width', graphWidth + margin.left + margin.right)
                     .attr('height', graphHeight + margin.top + margin.bottom)

                  const graph = svg.append('g')
                     .attr('width', graphWidth)
                     .attr('height', graphHeight)
                     .attr('transform', `translate(${margin.left}, ${margin.top})`);

                  const x = d3.scaleLinear().range([0, graphWidth]);
                  const y = d3.scaleLinear().range([graphHeight, 0]);

                  const xAxisGroup = graph.append('g')
                     .attr('class', 'x-axis')
                     .attr('transform', `translate(${0}, ${graphHeight})`);

                  const yAxisGroup = graph.append('g')
                     .attr('class', 'y-axis');

                  const line = d3.line()
                     .x(function(d) {
                        return x(d.month)
                     })
                     .y(function(d) {
                        return y(d.frequency)});

                  const dottedLines = graph.append('g')
                     .attr('class','lines')
                     .style('opacity', 0);

                  const xDottedLine = dottedLines.append('line')
                     .attr('stroke', 'royalblue')
                     .attr('stroke-width', 1)
                     .attr('stroke-dasharray', 4)
                     .attr('fill', 'royalblue');

                  const yDottedLine = dottedLines.append('line')
                     .attr('stroke', 'royalblue')
                     .attr('stroke-width', 1)
                     .attr('stroke-dasharray', 4)
                     .attr('fill', 'royalblue');

                  const colour = d3.scaleOrdinal(d3['schemeSet1']);

                  var array_data = [];
                  var all_data = [];
                  
                  data.line_graph_list.forEach(d => {
                     const path = graph.append('path');
                     array_data = [];
                        d.forEach(index => {
                           array_data.push(index);
                           all_data.push(index);
                        });
                     array_data.sort((a,b) => a.month - b.month);
                     console.log('array_data');
              
                     console.log(array_data);

                     x.domain(d3.extent(data.months, d => d));
                     y.domain([0, d3.max(all_data, d => d.frequency)]);    
                     
                     path.data([array_data])
                        .attr("fill", 'none')
                        .attr("stroke", d => {
                           console.log("DDDDDDs");
                           console.log(d);   
                           return colour(d[0].species_name)})
                        .attr('stroke-width', 2)
                        .attr('d', line);

                     });
                     
                     const circles = graph.selectAll('circle')
                        .data(all_data);

                     circles.attr('r', circleRadius)
                        .attr('cx', d => x(d.month))
                        .attr('cy', d => y(d.frequency))
                        .attr('fill', 'royalblue');

                     circles.enter()
                        .append('circle')
                              .attr('r', circleRadius)
                              .attr('cx', d => x(d.month))
                              .attr('cy', d => y(d.frequency))
                              .attr('fill', 'royalblue');

                     graph.selectAll('circle')
                        .on('mouseover', (d,i,n) => {
                              d3.select(n[i])
                                 .transition().duration(500)
                                    .attr('r', circleRadius*2)
                                    .attr('fill', 'royalblue')

                              xDottedLine
                                 .attr('x1', x(d.month))
                                 .attr('x2', x(d.month))
                                 .attr('y1', graphHeight)
                                 .attr('y2', y(d.frequency));

                              yDottedLine
                                 .attr('x1', 0)
                                 .attr('x2', x(d.month))
                                 .attr('y1', y(d.frequency))
                                 .attr('y2', y(d.frequency));

                              dottedLines.style('opacity', 1);
                        })
                        .on('mouseleave', (d,i,n) => {
                              d3.select(n[i])
                                 .transition().duration(500)
                                    .attr('r', circleRadius)
                                    .attr('fill', 'royalblue');
                        
                              dottedLines.style('opacity', 0);
                        });
 

                  // console.log('array_data');
                  // console.log(array_data);
                  // console.log(data);
                  // console.log("data.line_graph_list")
                  // console.log(data.line_graph_list)
                  // console.log("d")
                  // console.log(d)


                  

                     const xAxis = d3.axisBottom(x)
                        .ticks()
                        .tickFormat(d3.format("d")); 
                     
                     const yAxis = d3.axisLeft(y)
                        .ticks()
                   
                        .tickFormat(d => d);
                     
                     
                     xAxisGroup.call(xAxis);
                     yAxisGroup.call(yAxis);

                     xAxisGroup.selectAll('text')
                        .attr('transform', 'rotate(-40)')
                        .attr('text-anchor', 'end');
                  
               }
            });
         });
      });
   </script>
{% endblock %}